Course Project
IBM Machine Learning Certificate - Course 2

WHO Life Expentancy

In [2]:
!conda install pandas -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/gaborsarosi/miniforge3

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pandas-1.3.4               |   py39h7f752ed_1        11.5 MB  conda-forge
    ------------------------------------------------------------
                                           Total:        11.5 MB

The following packages will be UPDATED:

  pandas                               1.3.1-py39h7f752ed_0 --> 1.3.4-py39h7f752ed_1



Downloading and Extracting Packages
pandas-1.3.4         | 11.5 MB   | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [5]:
import pandas as pd
import numpy as np
import os

from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'pandas'

In [2]:
print(os.listdir('../Course_Project/data'))
file_with_path = '../Course_Project/data/Life Expectancy Data.csv'

['Life Expectancy Data.csv']

In [3]:
who_data = pd.read_csv(file_with_path)
who_data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
who_data.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [5]:
who_data.shape[0] #number of rows

2938

In [6]:
who_data.loc[who_data['Country']=='Hungary']

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1154,Hungary,2015,Developed,75.8,134.0,0,NaN,0.000000,NaN,0,...,99.0,NaN,99.0,0.1,12365.62630,984328.0,1.6,1.6,0.834,15.6
1155,Hungary,2014,Developed,75.6,137.0,0,0.01,160.944934,NaN,0,...,99.0,7.40,99.0,0.1,14117.97668,9866468.0,1.7,1.6,0.834,15.8
1156,Hungary,2013,Developed,75.5,139.0,0,10.88,155.195208,NaN,1,...,99.0,7.53,99.0,0.1,13613.61470,989382.0,1.7,1.7,0.824,15.4
1157,Hungary,2012,Developed,75.0,146.0,0,11.27,164.279341,NaN,2,...,99.0,7.74,99.0,0.1,12834.32349,992362.0,1.7,1.7,0.823,15.4
1158,Hungary,2011,Developed,74.8,15.0,0,11.51,17.821219,NaN,5,...,99.0,7.84,99.0,0.1,1448.87958,9971727.0,1.7,1.7,0.821,15.4
1159,Hungary,2010,Developed,74.5,156.0,0,10.78,19.220240,NaN,0,...,99.0,7.85,99.0,0.1,1325.53379,123.0,1.8,1.8,0.817,15.3
1160,Hungary,2009,Developed,74.2,162.0,0,11.46,1281.155944,NaN,1,...,99.0,7.55,99.0,0.1,12967.16543,12265.0,1.8,1.8,0.816,15.3
1161,Hungary,2008,Developed,74.1,165.0,1,11.64,181.763408,NaN,0,...,99.0,7.33,99.0,0.1,15669.25929,138188.0,1.9,1.9,0.812,15.3
1162,Hungary,2007,Developed,73.5,176.0,1,12.55,163.343328,NaN,0,...,99.0,7.51,99.0,0.1,13842.65490,15578.0,1.9,1.9,0.809,15.3
1163,Hungary,2006,Developed,73.4,177.0,1,13.16,1299.459306,NaN,1,...,99.0,8.10,99.0,0.1,11398.76584,17137.0,2.0,2.0,0.802,15.2
1164,Hungary,2005,Developed,72.9,182.0,1,12.94,1317.083480,NaN,2,...,99.0,8.28,99.0,0.1,11161.72441,18765.0,2.0,2.0,0.795,15.0
1165,Hungary,2004,Developed,72.9,18.0,1,13.28,146.860802,NaN,0,...,99.0,8.80,99.0,0.1,1259.52660,117146.0,2.1,2.1,0.793,15.3
1166,Hungary,2003,Developed,72.5,184.0,1,13.24,1030.220271,NaN,0,...,99.0,8.42,99.0,0.1,8396.25323,1129552.0,2.1,2.1,0.784,14.9
1167,Hungary,2002,Developed,72.5,184.0,1,13.29,8.986198,NaN,0,...,98.0,7.47,99.0,0.1,665.64430,115868.0,2.2,2.2,0.775,14.6
1168,Hungary,2001,Developed,72.3,185.0,1,13.18,7.601092,NaN,20,...,99.0,7.11,99.0,0.1,527.85364,1187576.0,2.2,2.2,0.769,14.2
1169,Hungary,2000,Developed,71.7,193.0,1,12.22,75.362514,NaN,1,...,99.0,7.60,99.0,0.1,4623.46712,121971.0,2.3,2.3,0.761,13.9

In [7]:
data_2015 = who_data.loc[who_data['Year'] == 2015]

In [8]:
data_2015.sort_values(by=['Life expectancy '])

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2297,Sierra Leone,2015,Developing,51.0,413.0,22,NaN,0.0,86.0,607,...,86.0,NaN,86.0,0.5,587.538233,723725.0,7.4,7.3,0.431,9.5
48,Angola,2015,Developing,52.4,335.0,66,NaN,0.0,64.0,118,...,7.0,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4
512,Central African Republic,2015,Developing,52.5,397.0,15,NaN,0.0,47.0,150,...,47.0,NaN,47.0,4.4,348.381417,45461.0,8.2,8.2,0.347,7.1
528,Chad,2015,Developing,53.1,356.0,46,NaN,0.0,46.0,418,...,52.0,NaN,46.0,2.8,777.248751,149413.0,8.5,8.4,0.394,7.3
432,Côte d'Ivoire,2015,Developing,53.3,397.0,57,NaN,0.0,83.0,65,...,81.0,NaN,83.0,1.9,NaN,NaN,5.5,5.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,Japan,2015,Developed,83.7,55.0,2,NaN,0.0,NaN,35,...,99.0,NaN,96.0,0.1,34474.137360,127141.0,2.1,1.8,0.902,15.3
673,Cyprus,2015,Developed,85.0,52.0,0,NaN,0.0,97.0,0,...,97.0,NaN,97.0,0.1,2375.112700,116985.0,1.0,1.0,0.854,14.3
544,Chile,2015,Developing,85.0,82.0,2,NaN,0.0,97.0,9,...,96.0,NaN,96.0,0.1,13653.226400,17762681.0,0.8,0.8,0.845,16.3
737,Denmark,2015,Developed,86.0,71.0,0,NaN,0.0,NaN,9,...,93.0,NaN,93.0,0.1,5314.644160,5683483.0,1.1,0.9,0.923,19.2
2345,Slovenia,2015,Developed,88.0,74.0,0,NaN,0.0,NaN,18,...,95.0,NaN,95.0,0.1,2729.863830,263531.0,1.4,1.3,0.888,17.3

In [21]:
data_2015.sort_values(by=['Life expectancy ']).tail(15)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2087,Republic of Korea,2015,Developing,82.3,64.0,1,NaN,0.0,98.0,7,...,98.0,NaN,98.0,0.1,NaN,NaN,1.5,1.0,NaN,NaN
2505,Sweden,2015,Developed,82.4,53.0,0,NaN,0.0,67.0,22,...,98.0,NaN,98.0,0.1,5585.25847,9799186.0,1.5,1.4,0.909,15.9
930,France,2015,Developing,82.4,78.0,2,NaN,0.0,86.0,157,...,98.0,NaN,98.0,0.1,36526.77110,6662468.0,0.7,0.6,0.894,16.3
1266,Israel,2015,Developing,82.5,58.0,0,NaN,0.0,96.0,80,...,95.0,NaN,95.0,0.1,35729.37253,8381.0,1.2,1.1,0.898,16.0
1170,Iceland,2015,Developed,82.7,49.0,0,NaN,0.0,NaN,0,...,92.0,NaN,92.0,0.1,5734.44360,33815.0,1.0,0.9,0.919,19.0
1282,Italy,2015,Developed,82.7,56.0,1,NaN,0.0,93.0,159,...,93.0,NaN,93.0,0.1,349.14755,673582.0,0.6,0.6,0.881,16.3
112,Australia,2015,Developed,82.8,59.0,1,NaN,0.0,93.0,74,...,93.0,NaN,93.0,0.1,56554.38760,23789338.0,0.6,0.6,0.937,20.4
2425,Spain,2015,Developed,82.8,56.0,1,NaN,0.0,97.0,115,...,97.0,NaN,97.0,0.1,25683.84565,46447697.0,0.6,0.5,0.882,17.7
2313,Singapore,2015,Developed,83.1,55.0,0,1.79,0.0,96.0,0,...,96.0,NaN,96.0,0.1,53629.73746,NaN,2.2,2.2,0.924,15.4
2521,Switzerland,2015,Developed,83.4,49.0,0,NaN,0.0,NaN,35,...,97.0,NaN,97.0,0.1,8989.84240,8282396.0,0.4,0.3,0.938,16.0
1314,Japan,2015,Developed,83.7,55.0,2,NaN,0.0,NaN,35,...,99.0,NaN,96.0,0.1,34474.13736,127141.0,2.1,1.8,0.902,15.3
673,Cyprus,2015,Developed,85.0,52.0,0,NaN,0.0,97.0,0,...,97.0,NaN,97.0,0.1,2375.11270,116985.0,1.0,1.0,0.854,14.3
544,Chile,2015,Developing,85.0,82.0,2,NaN,0.0,97.0,9,...,96.0,NaN,96.0,0.1,13653.22640,17762681.0,0.8,0.8,0.845,16.3
737,Denmark,2015,Developed,86.0,71.0,0,NaN,0.0,NaN,9,...,93.0,NaN,93.0,0.1,5314.64416,5683483.0,1.1,0.9,0.923,19.2
2345,Slovenia,2015,Developed,88.0,74.0,0,NaN,0.0,NaN,18,...,95.0,NaN,95.0,0.1,2729.86383,263531.0,1.4,1.3,0.888,17.3

In [15]:
who_data['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', "Côte d'Ivoire", 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Canada', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [18]:
who_data['Country'].value_counts()

Afghanistan              16
Peru                     16
Nicaragua                16
Niger                    16
Nigeria                  16
                         ..
Niue                      1
San Marino                1
Nauru                     1
Saint Kitts and Nevis     1
Dominica                  1
Name: Country, Length: 193, dtype: int64

In [ ]:
data_no_2015 = who_data[who_data['Country']

In [56]:
countries_missing_years = []
for country in who_data['Country'].unique():
    years_count = who_data[who_data['Country'] == country].shape[0]
    year = who_data[who_data['Country'] == country]['Year'].values[0]
    if years_count < 16:
        countries_missing_years.append(country)
        print(country, years_count)
        print(year)
countries_missing_years

Cook Islands 1
2013
Dominica 1
2013
Marshall Islands 1
2013
Monaco 1
2013
Nauru 1
2013
Niue 1
2013
Palau 1
2013
Saint Kitts and Nevis 1
2013
San Marino 1
2013
Tuvalu 1
2013

['Cook Islands',
 'Dominica',
 'Marshall Islands',
 'Monaco',
 'Nauru',
 'Niue',
 'Palau',
 'Saint Kitts and Nevis',
 'San Marino',
 'Tuvalu']

In [41]:
who_data[who_data['Country'] == 'Tuvalu']

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2713,Tuvalu,2013,Developing,NaN,NaN,0,0.01,78.281203,9.0,0,...,9.0,16.61,9.0,0.1,3542.13589,1819.0,0.2,0.1,NaN,0.0

In [44]:
who_data[who_data['Year'] == 2013]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
18,Albania,2013,Developing,77.2,84.0,0,4.76,430.876979,99.0,0,...,99.0,5.66,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2
34,Algeria,2013,Developing,75.3,112.0,21,0.53,544.450743,95.0,25,...,95.0,7.12,95.0,0.1,5471.866766,38338562.0,5.9,5.8,0.737,14.4
50,Angola,2013,Developing,51.1,355.0,69,8.10,35.958573,77.0,8523,...,67.0,4.26,77.0,2.3,484.616884,2599834.0,8.6,8.5,0.523,11.4
66,Antigua and Barbuda,2013,Developing,76.1,133.0,0,8.58,1991.430372,99.0,0,...,98.0,5.33,99.0,0.2,12224.864160,NaN,3.3,3.3,0.781,13.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2860,Venezuela (Bolivarian Republic of),2013,Developing,73.8,159.0,9,6.71,0.000000,82.0,0,...,82.0,4.94,82.0,0.1,NaN,NaN,1.6,1.5,0.770,14.2
2876,Viet Nam,2013,Developing,75.7,129.0,28,4.00,0.000000,59.0,1123,...,93.0,7.17,59.0,0.1,NaN,NaN,14.3,14.9,0.668,12.3
2892,Yemen,2013,Developing,65.4,226.0,36,0.04,0.000000,73.0,400,...,67.0,5.78,73.0,0.1,NaN,NaN,13.7,13.5,0.498,9.0
2908,Zambia,2013,Developing,63.0,328.0,29,2.41,20.623063,79.0,35,...,74.0,4.99,79.0,4.8,185.793359,1515321.0,6.4,6.2,0.565,12.5
2924,Zimbabwe,2013,Developing,58.0,399.0,25,6.39,10.666707,95.0,0,...,95.0,6.88,95.0,6.8,111.227396,155456.0,6.2,6.0,0.488,10.4